.hero-wrapper{
    display: flex;
    justify-content: center;
    overflow-y: hidden;
    position: relative;
}
.hero-wrapper .hero-content{
    text-align: center;
    z-index: 3;
    display: flex;
    flex-direction: column;
}
.hero-wrapper .hero-content h1{
    font-size: 350px;
    font-weight: 600;
    border-bottom: 2px solid rgb(31,31,31);
}
.hero-wrapper .hero-content .hero-posts{
    width: 90vw;
    display: flex;
    justify-content: center;
    margin: 120px auto;
}
.hero-wrapper .hero-posts .left{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.hero-wrapper .hero-posts .left img{
    object-fit: contain;
    max-height: 600px;
    margin: 20px;
}
.hero-wrapper .hero-posts .right{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.hero-wrapper .hero-posts .right .rightpost{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: start;
    border-bottom: 2px solid rgb(31,31,31);
}
.hero-wrapper .hero-posts .right .rightpost img{
    margin: 20px;
    width: 350px;
}
.hero-wrapper .hero-content .hero-posts .description p{
    color: rgb(80, 80, 80);
    font-weight: 500;
}
.hero-wrapper .hero-content .hero-posts .description h3{
    font-weight: 500;
}
.hero-wrapper .hero-content .hero-posts .description h2 {
    color: white;
}
.hero-wrapper .hero-content .hero-posts .left .description h3 {
    color: rgb(136, 135, 135);
}
.hero-wrapper .hero-content .hero-posts .left .description h2 {
    font-size: 22px;
}
@media only screen and (max-width: 700px) {
    .hero-wrapper .hero-content h1 {
        font-size: 70px;
        font-weight: 600;
        border-bottom: 2px solid rgb(31, 31, 31);
        border-top: 2px solid rgb(31, 31, 31);
        margin-top: 90px;
    }
    .hero-wrapper .hero-content .hero-posts {
        flex-direction: column;
        padding-bottom: 80px;
    }
    .hero-wrapper .hero-posts .right .rightpost {
        display: flex;
        flex-direction:row-reverse;
    }
    .hero-wrapper .hero-content .hero-posts {
        margin: 20px 0px;
    }
    .hero-wrapper .hero-posts .left img {
        object-fit: contain;
        max-height: 600px;
        margin: 0px;
    }
    .hero-wrapper .hero-posts .right .rightpost {
        display: flex;
        flex-direction:row-reverse;
        align-items: center;
        text-align: start;
        border-top: 2px solid rgb(31, 31, 31);
        border-bottom: none;
        margin-top: 20px;
        padding-top: 20px;
    }
    .hero-wrapper .hero-posts .right .rightpost img {
        width: 150px;
        margin: 0;
    }
}