.navbar-wrapper{
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content:space-between;
    font-size: 22px;
    padding: 20px 100px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
.navbar-wrapper .navbar-links-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 180px;
    align-items: center;
}
.navbar-wrapper .navbar-logo-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 250px;
}
.navbar-wrapper .navbar-logo-container img{
    width: 50px;
}

@media only screen and (max-width: 700px){
    .navbar-wrapper{
        padding: 20px;
    }
    .navbar-wrapper::after {
        display: none;
    }
    .navbar-wrapper .navbar-logo-container{
        width: 200px;
    }
    .navbar-wrapper .navbar-logo-container p{
        display: none;
    }
    .navbar-wrapper .mobile-button{
        width: 60px;
        align-self: center;
        background-color: white;
    }
}